<launch>
	<rosparam file="$(find lane_detector)/config/detect.yaml" command="load"/>
	<rosparam file="$(find lane_detector)/config/hardware_control.yaml" command="load"/>
	<rosparam file="$(find lane_detector)/config/image_process.yaml" command="load"/>

	<node pkg="lane_detector" type="lane_detector" name="lane_detector">
		<!--remap from="/crosswalk_stop/write" to="write" /-->
		<remap from="/lane_detector/ackermann" to="ackermann" />
	</node>
</launch>
